body {
    background: #0c0c0c;
    color: #bfbfbf;
  }

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-wrapper {
    margin: auto;
    max-width: 1000px;
  }
